[submodule "antigen"]
	path = antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "oceanic-next-iterm"]
	path = oceanic-next-iterm
	url = https://github.com/mhartington/oceanic-next-iterm.git
